# For development, copy this file to .env and modify as needed.
# NOTE: the settings below are recommended for development.
UPTIME_MAINTENANCE=false
UPTIME_MODE=debug
UPTIME_LOG_LEVEL=debug
UPTIME_CONSOLE_LOG=true
UPTIME_BIND_ADDR=127.0.0.1:8000
UPTIME_ALLOWED_ORIGINS=http://localhost:8000
UPTIME_TELEMETRY_ENABLED=false
OTEL_SERVICE_NAME=uptime
GIMLET_OTEL_SERVICE_ADDR=localhost:8000
