{{ define "header" }}
<header>
  <div class="text-secondary px-4 py-5 text-center" style="background-color: #1D65A6;">
    <img src='{{ static "/img/logo-white.png" }}' class="py-5" />
  </div>
  <div class="py-2" style="background-color: #2F4858;">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1 class="h2 text-white py-3">Rotational APIs Status</h1>
        </div>
        <div class="col-4 text-end">
          <a class="btn btn-outline-light mt-3" href="https://rotational.io">
            <i class="fa-solid fa-house pe-1"></i>
            Home
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
{{ end }}